@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to our faculty's website!</h1>
    <p>Made for students and professors</p>

    <img src="https://images.theconversation.com/files/39400/original/j7cvzqvx-1390194792.jpg?ixlib=rb-1.1.0&q=45&auto=format&w=1200&h=1200.0&fit=crop" alt="Random image" width="600" height="600"  />
</div>
